<!DOCTYPE html>
<html lang="ko" class="leaf">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>CheckPay</title>
<meta http-equiv="Cache-Control" content="No-Cache">
<meta http-equiv="Pragma" content="No-Cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<meta name="title" content="">-->
<meta name="description" content="">
<!--<meta name="keywords" content="">-->
<!-- The Open Graph protocol -->
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:image" content=""><!-- [D]리얼경로로 변경하세요 -->
<!-- //The Open Graph protocol -->
<link rel="SHORTCUT ICON" href=""><!-- [D]리얼경로로 변경하세요 -->
<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/content.css">
<link rel="stylesheet" type="text/css" href="../../css/theme_checkpay.css">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../js/slide_slick.js"></script>
<script type="text/javascript" src="../../js/publishing.ui.library.1.0.0.js"></script>
<script type="text/javascript" src="../../js/cmd.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<!-- thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
</head>

<body>

<!-- wrap -->
<div class="wrap">

	<!-- header -->
	<div class="header">
		<div class="header_inn">
			<div class="left">
				<a href="javascript:history.back();" class="btnBack"><span class="blind">Back</span></a>
			</div>
			<div class="center">
				<h2 class="tit_h2">카드 청구 상세</h2>
			</div>
			<!-- <div class="right">
                <a href="../../main" class="btnClose"><span class="blind">close</span></a>
			</div> -->
		</div>
	</div>
	<!-- //header -->

	<!-- container -->
	<div class="container">
		<div class="content">
			<div class="accSetting">
				<div class="tAccount">
					<h3 class="tAccTit"></h3>
				</div>
				<h4 class="listTit"><em class="pointColor">요약</em></h4>
				<ul class="accDetailList">
					<li>
						<span class="itemTit">금액</span>
						<span class="itemData" id="paid_amt"><span class="num"></span>원</span>
					</li>
					<li>
						<span class="itemTit">일시</span>
						<span class="itemData" id="paid_dtime"><span class="num"></span></span>
					</li>
					<li>
						<span class="itemTit">카드명</span>
						<span class="itemData" id="card_name"></span>
					</li>

					<li>
						<span class="itemTit">결제방법</span>
						<span class="itemData" id="installments"><span class="num"></span>
					</li>
					<li id="il">
						<span class="itemTit" >결제 후 원금잔액</span>
						<span class="itemData" id="balance_amt"><span class="num"></span>원</span>
					</li>
					<li id="il2">
						<span class="itemTit">수수료</span>
						<span class="itemData" id="credit_fee_amt"><span class="num"></span>원</span>
					</li>
				</ul>

				<!-- 2021-11-11 가맹점 추가 -->
				<h4 class="listTit"><em class="pointColor">가맹점</em></h4>
				<ul class="accDetailList">
					<li>
						<span class="itemTit">가맹점명</span>
						<span class="itemData" id="merchant_name"></span>
					</li>
					<li>
						<span class="itemTit">사업자번호</span>
						<span class="itemData" id="merchant_regno"><span class="num"></span></span>
					</li>
				</ul>
			</div>
			<div style="display: none" class="prod_type"></div>
			<div style="display: none" class="total_install_cnt"></div>
			<div style="display: none" class="cur_install_cnt"></div>
		</div>
	</div>
	<!-- //container -->

</div>
<!-- //wrap -->

</body>
</html>
<script>

	window.addEventListener('beforeunload', (event) => {
		saveVal();
	});

	const {paid_amt, paid_dtime, card_name, total_install_cnt, cur_install_cnt, balance_amt, credit_fee_amt, merchant_name, merchant_regno, prod_type} = JSON.parse(localStorage.getItem("val"));
	localStorage.removeItem("val");	

	function saveVal(){
		const detailVal = {
            paid_amt: $('#paid_amt').find('.num').text(),
            paid_dtime: $('#paid_dtime').find('.num').text(),
            card_name: $('#card_name').text(),
            total_install_cnt: $('.total_install_cnt').text(),
            cur_install_cnt: $('.cur_install_cnt').text(),
            balance_amt: $('#balance_amt').find('.num').text(),
            credit_fee_amt: $('#credit_fee_amt').find('.num').text(),
            merchant_name: $('#merchant_name').text(),
            merchant_regno: $('#merchant_regno').find('.num').text(),
            prod_type: $('.prod_type').text()
        }
		localStorage.setItem("val", JSON.stringify(detailVal));
	}
	
	function cardPayBills(){
		$('.tAccTit').html(merchant_name);
		$('#paid_amt').find('.num').html(numberWithCommas(paid_amt));
		let d = new Date(paid_dtime);
		$('#paid_dtime').find('.num').html(year_month_date_hours_min(d));
		$('#card_name').html(card_name);
		if(prod_type=="일시불"){
			$('#installments').find('.num').text(prod_type);
			$('#il').hide();
			$('#il2').hide();
		} else {
			$('#installments').find('.num').html(total_install_cnt+"개월 할부 <span class='num'>("+cur_install_cnt+"</span>회차)</span>");
		}
		$('#balance_amt').find('.num').html(balance_amt);
		$('#credit_fee_amt').find('.num').html(numberWithCommas(credit_fee_amt));
		$('#merchant_name').html(merchant_name);
		$('#merchant_regno').find('.num').html(merchant_regno);

		$('.prod_type').html(prod_type);
		$('.total_install_cnt').html(total_install_cnt);
		$('.cur_install_cnt').html(cur_install_cnt);
	}

	$(document).ready(function(){
		cardPayBills();
	});

</script>