<!DOCTYPE html>
<html lang="ko" class="leaf">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>CheckPay</title>
<meta http-equiv="Cache-Control" content="No-Cache">
<meta http-equiv="Pragma" content="No-Cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<meta name="title" content="">-->
<meta name="description" content="">
<!--<meta name="keywords" content="">-->
<!-- The Open Graph protocol -->
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:image" content=""><!-- [D]리얼경로로 변경하세요 -->
<!-- //The Open Graph protocol -->
<link rel="SHORTCUT ICON" href=""><!-- [D]리얼경로로 변경하세요 -->
<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/content.css">
<link rel="stylesheet" type="text/css" href="../../css/theme_checkpay.css">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../js/slide_slick.js"></script>
<script type="text/javascript" src="../../js/publishing.ui.library.1.0.0.js"></script>
<script type="text/javascript" src="../../js/cmd.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<!-- thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
</head>

<body>

<!-- wrap -->
<div class="wrap">

	<!-- header -->
	<div class="header">
		<div class="header_inn">
			<div class="left">
				<a href="javascript:history.back();" class="btnBack"><span class="blind">Back</span></a>
			</div>
			<div class="center">
				<h2 class="tit_h2">포인트</h2>
			</div>
			<!-- <div class="right">
                <a href="../" class="btnClose"><span class="blind">close</span></a>
			</div> -->
		</div>
	</div>
	<!-- //header -->

	<!-- container -->
	<div class="container">
		<div class="content">
			<div class="accSetting">
				<div class="tAccount">
					<h3 class="tAccTit"></h3>
					<a class="btnRef"><span class="blind">새로고침</span></a>
				</div>
				<ul class="accDetailList">
					<li>
						<span class="itemTit"><em class="pointColor">보유 포인트</em></span>
						<span class="itemData" id="point"><span class="num"></span></span>
					</li>					
					<li>
						<span class="itemTit">OK캐쉬백포인트</span>
						<span class="itemData"><span class="num"></span></span>
					</li>
					<li>
						<span class="itemTit">스카이마일리지</span>
						<span class="itemData"><span class="num"></span></span>
					</li>
					<li>
						<span class="itemTit">보너스포인트</span>
						<span class="itemData"><span class="num"></span></span>
					</li>
				</ul>
				<ul class="accDetailList">
					<li>
						<span class="itemTit"><em class="pointColor">소멸예정 포인트</em></span>
						<span class="itemData"><span class="num"></span></span>
					</li>
					<li>
						<span class="itemTit">스카이마일리지</span>
						<span class="itemData"><span class="num"></span></span>
					</li>
					<li>
						<span class="itemTit">보너스포인트</span>
						<span class="itemData"><span class="num"></span></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="toastMsg" id="update_complete">
			<p class="tx">업데이트가 완료되었습니다</p>
		</div>
	</div>
	<!-- //container -->

</div>
<!-- //wrap -->
<script>

	let org_code='[[${cardbills.org_code}]]';
	let member_id = parseJwt(getCookie("jwt")).sub;

	function cardPoint(){
		return $.ajax({
			url: 'http://192.168.240.208:8081/api/card/membercardpoint/'+ member_id + '/' + org_code,
			// url: 'http://localhost:8081/api/card/membercardpoint/'+ member_id + '/' + org_code,
			type: 'GET',
			dataType: 'json',
			headers:{
				"Authorization" : "Bearer " + getCookie("jwt")
			},
			error: function(jqXHR) {
				if(jqXHR.status == 401) {
					userErrorHandler(jqXHR);
				}
			}
		})
		.done(function(data){
			let sum=0;
			let sum2=0;
			let arr='';
			let arr2='';
			$('.tAccTit').text(data[0].org_name);
			for(var i=0; i<data.length; i++){sum += data[i].remain_point_amt;}
			for(var i=0; i<data.length; i++){sum2 += data[i].expiring_point_amt;}
			arr+='<li>';
			arr+='<span class="itemTit"><em class="pointColor">보유 포인트</em></span>';
			arr+='<span class="itemData" id="point"><span class="num">'+numberWithCommas(sum)+'P'+'</span></span>';
			arr+='</li>';

			arr2+='<li>';
			arr2+='<span class="itemTit"><em class="pointColor">소멸예정 포인트</em></span>';
			arr2+='<span class="itemData"><span class="num">'+numberWithCommas(sum2)+'P'+'</span></span>';
			arr2+='</li>';

			$(data).each(function(index, item){			
				arr +='<li>';
				arr +='<span class="itemTit">'+item.point_name+'</span>';
				arr +='<span class="itemData"><span class="num">'+numberWithCommas(item.remain_point_amt)+'P</span></span>';
				arr +='</li>';

				arr2 +='<li class = "expiring">';
				arr2 +='<span class="itemTit">'+item.point_name+'</span>';
				arr2 +='<span class="itemData" id="expiring_point"><span class="num">'+numberWithCommas(item.expiring_point_amt)+'P</span></span>';
				arr2 +='</li>';

			});
			$('.accDetailList').eq(0).html(arr);
			$('.accDetailList').eq(1).html(arr2);		

			for(var i=0; i<data.length; i++){
				if($('.expiring').eq(i).find('#expiring_point').find('.num').text()=='0P'){
					$('.expiring').eq(i).hide();
				}
			}
		});
	}

	function toastMsgShow(){	
		$('#update_complete').show();
		$('.btnRef').addClass("ing");
		setTimeout(function(){
			$('#update_complete').hide();
			$('.btnRef').removeClass("ing");
		},1200);
	}

	$(document).ready(function(){
		$('#update_complete').hide();

		$(document).on("click", ".btnRef", function(){
			toastMsgShow();
			cardPoint();
		});

		cardPoint();
	})
</script>
</body>
</html>
