<!DOCTYPE html>
<html lang="ko" class="leaf">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>CheckPay</title>
	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="title" content="">-->
	<meta name="description" content="">
	<!--<meta name="keywords" content="">-->
	<!-- The Open Graph protocol -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content=""><!-- [D]리얼경로로 변경하세요 -->
	<!-- //The Open Graph protocol -->
	<link rel="SHORTCUT ICON" href=""><!-- [D]리얼경로로 변경하세요 -->
	<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/content.css">
	<link rel="stylesheet" type="text/css" href="../../css/theme_checkpay.css">
	<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="../../js/slide_slick.js"></script>
	<script type="text/javascript" src="../../js/publishing.ui.library.1.0.0.js"></script>
	<script type="text/javascript" src="../../js/cmd.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
</head>

<body>

	<!-- wrap -->
	<div class="wrap">

		<!-- header -->
		<div class="header">
			<div class="header_inn">
				<div class="left">
					<a href="#none" class="btnBack"><span class="blind">Back</span></a>
				</div>
				<!--
				<div class="right">
					<a href="/invest" class="btnClose"><span class="blind">close</span></a>
				</div>
				-->
			</div>
		</div>
		<!-- //header -->

		<!-- container -->
		<div class="container">
			<div class="content">
				<div class="accSetting">
					<div class="tAccount">
						<h3 class="tAccTit"></h3>
						<p class="tAccDetail"></p>
					</div>
					<div class="topTotal">
						<!-- [S] 2021-11-30 topTotal 영역 수정 -->
						<a href="#none" class="link" title="더보기">
							<span class="itemTit">평가금액</span>
							<span class="itemData">
								<span class="detail"><span class="num"></span>원</span>
							</span>
						</a>
						<!-- [E] 2021-11-30 topTotal 영역 수정 -->
					</div>
					<ul class="accDetailList">
						<li>
							<span class="itemTit">잔액</span>
							<span class="itemData"><em class="num">0</em>원</span>
						</li>
						<li>
							<span class="itemTit">사용자부담금</span>
							<span class="itemData"><em class="num">0</em>원</span>
						</li>
						<li>
							<span class="itemTit">가입자부담금</span>
							<span class="itemData"><em class="num">0</em>원</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //container -->

	</div>
	<!-- //wrap -->
	<script>

		$(document).ready(function () {
			// 순서대로 접근하지 않았을 경우
			if (localStorage.getItem('org_code') === null || localStorage.getItem('account_num') === null) {
				location.href = "/invest"
			}
			let values = {
				"memb_cd": parseJwt(getCookie("jwt")).sub,
				"org_code": localStorage.getItem('org_code'),
				"account_num": localStorage.getItem('account_num')
			}

			ajax_irp_acc_detail(values).done(function (resp) {
				// 계좌 이름
				$('.tAccTit').text(resp.prod_name);
				localStorage.setItem('account_name', $('.tAccTit').text());
				// 계좌 번호
				$('.tAccDetail').text(resp.org_name + " " + resp.account_num);
				localStorage.setItem('account_full', $('.tAccDetail').text());
				// 평가 금액
				$('.topTotal>a>.itemData>.detail>.num').text(resp.eval_amt.toLocaleString());
				localStorage.setItem('eval_amt', $('.topTotal>a>.itemData>.detail>.num').text());
				// 잔액
				$('.accDetailList>li>.itemData>.num').eq(0).text(resp.accum_amt.toLocaleString());
				// 사용자부담금
				$('.accDetailList>li>.itemData>.num').eq(1).text(resp.employer_amt.toLocaleString());
				// 가입자부담금
				$('.accDetailList>li>.itemData>.num').eq(2).text(resp.employee_amt.toLocaleString());
			})
		})

		// [S] 평가금액 클릭 시
		$(document).on('click', '.topTotal>a', function (e) {
			e.preventDefault();
			location.href = "/invest/irp/accountHis"
		})
		// [E] 평가금액 클릭 시
		// 뒤로가기
		$(document).on('click', '.btnBack', function () {
			history.back();
		})
		// [S] ajax 함수 리스트
		// IRP 계좌 상세 리스트
		function ajax_irp_acc_detail(values) {
			return $.ajax({
				url: "http://192.168.240.208:8081/api/irp/account/detail",
				type: "POST",
				contentType: "application/json",
				dataType: "json",
				data: JSON.stringify(values),
				headers: {
					"Authorization": "Bearer " + getCookie("jwt")
				},
				error: function (jqXHR) {
					userErrorHandler(jqXHR);
					ajax_irp_acc_detail(values);
				}
			});
		}
	// [E] ajax 함수 리스트
	</script>
</body>

</html>